* {
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}

html {
    background: url("images/money-growth.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hidden {
    display: none;
}


/******LANDING PAGE AND SIGN UP PAGE******/

.textBox {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    opacity: .9;
    max-width: 1000px;
    margin: 0 auto 30px auto;
    text-align: center;
}


#mainImg {
    display: inline-block;
    border-radius: 8px;
    width: 60%;
}

h1 {
    text-align: center;
}

.appName {
    color: forestgreen;
}

#appFeatures {
    text-align: left;
}

a {
    text-decoration: none;
}

button {
    background: inherit;
    border: none;
    color: inherit;
}

button:hover {
    background-color: forestgreen;
    color: #0E2E45;
    cursor: pointer;
}

.sign-in-up-form {
    vertical-align: middle;
    font-weight: 600;
    margin: 0 auto 30px auto;
    background-color: #FFFF;
    color: #0E2E45;
    max-width: 400px;
    border: black solid 1px;
    border-radius: 7px;
    font-size: 1.3rem;
    padding: 20px 0;
    text-align: center;
    opacity: .9;
}

.demoInfo {
    font-size: .7rem;
    color: dimgray;
}

.sign-in-up-form legend {
    margin: 10px auto;
    padding: 10px;
    border-bottom: #0E2E45 solid 1px;
    width: 85%;
    font-size: 2rem;
}

.sign-in-up-form fieldset {
    border: none;
    padding: 0 2rem;
    line-height: 34px;
    text-align: left;
}


.sign-in-up-form input {
    border: #0E2E45 1px solid;
    width: 100%;
    margin: 10px auto 20px;
    padding: 8px;
}

.signInUpLink {
    font-size: 1.2rem;
    color: forestgreen;
    text-align: center;
}

.submit-button {
    background-color: forestgreen;
    padding: 8px 18px;
    border-radius: 8px;
    color: white;
    font-size: 1.2rem;
    margin: 0 auto;
}

/******NAVIGATION STYLES******/

#iconImg {
    width: 150px;
    opacity: .8;
    border-radius: 7px;
}

.navbar {
    background-color: black;
    opacity: .9;
    margin: -10px auto 30px auto;
    text-align: center;
}

.navbar ul {
    display: inline-block;

}


.nav-options li {
    display: inline-block;
    padding-right: 20px;
    font-size: 1.2rem;
}

.nav-options a {
    color: white;
    text-decoration: none;
}

.nav-options a:hover {
    text-decoration: underline;
}

.signout-button {
    background-color: forestgreen;
    border-radius: 7px;
    padding: 5px;
    color: white;
    font-size: 1.1rem;
}

#signoutButton:hover {
    color: #0E2E45;
    cursor: pointer;

}

.formMessage {
    font-size: .7rem;
    color: forestgreen;
}

/********Table to View by Categories and Subcategories***********************************/

.displayBudget {
    background-color: black;
    max-width: 1000px;
    margin: 0 auto 30px auto;
    text-align: center;
    color: white;
    border-radius: 8px;

}

.hint {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    opacity: .9;
    max-width: 500px;
    margin: 0 auto 30px auto;
    text-align: center;
    font-size: .8rem;
}

.myInput {
    width: 600px;
    font-size: 15px;
    padding: 5px;
    border: 1px solid gray;
    margin-bottom: 12px;
}

div.paleBlueRows {
    font-family: "Times New Roman", Times, serif;
    border: 1px solid #FFFFFF;
    background-color: #CECECE;
    max-width: 1000px;
    height: 200px;
    text-align: center;
    border-collapse: collapse;
}

.divTable.paleBlueRows .divTableCell,
.divTable.paleBlueRows .divTableHead {
    border: 1px solid #FFFFFF;
    padding: 3px 2px;
}

.divTable.paleBlueRows .divTableBody .divTableCell {
    font-size: 13px;
    color: #000000;
}

.divTable.paleBlueRows .divTableRow:nth-child(even) {
    background: #228B22;
}

.divTable.paleBlueRows .divTableHeading {
    background: #228B22;
    border-bottom: 5px solid #FFFFFF;
}

.divTable.paleBlueRows .divTableHeading .divTableHead {
    font-size: 17px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #FFFFFF;
}

.divTable.paleBlueRows .divTableHeading .divTableHead:first-child {
    border-left: none;
}

.paleBlueRows .tableFootStyle {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    background: #228B22;
    border-top: 3px solid #444444;
}

.paleBlueRows .tableFootStyle {
    font-size: 14px;
}

/* DivTable.com */

.divTable {
    display: table;
    max-width: 1000px;
    margin: 0 auto 30px auto;
    border-radius: 8px;
}

.divTableRow {
    display: table-row;
}

.divTableHeading {
    display: table-header-group;
}

.divTableCell,
.divTableHead {
    display: table-cell;
}

.divTableHeading {
    display: table-header-group;
}

.divTableFoot {
    display: table-footer-group;
}

.divTableBody {
    display: table-row-group;
}

/* TRANSACTIONS */

/******Add Categories/SubCategorie/Transactions form******/

#add-to-budget-options {
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    background-color: white;
    opacity: .9;
    margin: -30px auto 30px auto;

}

#add-to-budget-options li {
    display: inline-block;
    padding-right: 20px;
    font-size: 1.2rem;
}

#add-to-budget-options a {
    color: forestgreen;
    text-decoration: none;
}

#add-to-budget-options a:hover {
    color: black;
    text-decoration: underline;
}

.add-to-budget-form {
    vertical-align: middle;
    font-weight: 600;
    margin: 0 auto 30px auto;
    background-color: #FFFF;
    color: #0E2E45;
    max-width: 400px;
    border: black solid 1px;
    border-radius: 7px;
    font-size: 1.3rem;
    padding: 20px 0;
    text-align: center;
    opacity: .9;
}

.add-to-budget-form legend {
    margin: 10px auto;
    padding: 10px;
    border-bottom: #0E2E45 solid 1px;
    width: 85%;
    font-size: 2rem;
}

.add-to-budget-form fieldset {
    border: none;
    padding: 0 2rem;
    line-height: 34px;
    text-align: left;
}


.add-to-budget-form input {
    border: #0E2E45 1px solid;
    width: 100%;
    margin: 10px auto 20px;
    padding: 8px;
}

.add-to-budget-form select {
    display: block;
    height: auto;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(34, 36, 38, 0.15);
    border-radius: 0.28571429rem;
    -webkit-box-shadow: 0em 0em 0em 0em transparent inset;
    box-shadow: 0em 0em 0em 0em transparent inset;
    padding: 0.62em 1em;
    color: rgba(0, 0, 0, 0.87);
    -webkit-transition: color 0.1s ease, border-color 0.1s ease;
    transition: color 0.1s ease, border-color 0.1s ease;
}

.radio-btns {
    display: inline-block;
    align-items: center;
    font-size: 1rem;
}

.ui.radio.checkbox {
    margin: 5px;
    display: inline-block;
}

select,
option {
    padding: 8px;
}

/******Footer STYLE******/

footer {
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 8px;
    margin-top: 20px;
    opacity: .9;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .navbar ul > li {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    #add-to-budget-options li {
        width: 100%;
    }
}
